@page
@model ProductWebApp.Pages.Cabinet.EditModel
@{
    ViewData["Title"] = "Редактирование";
}

<div class="alert alert-warning">
    Не удалось выполнить перенаправление на форму редактирования.
</div>

