@page
@{
    ViewData["Title"] = "OAuth Authorization Server";
}

<div class="container py-5">
    <h1>HeatBalance Auth</h1>
    <p>Сервис OAuth 2.0 / OpenID Connect.</p>
    <ul>
        <li><a href="/Identity/Account/Login">Вход</a></li>
        <li><a href="/Identity/Account/Register">Регистрация</a></li>
    </ul>
</div>
